html {
    font-size: 62.5%;
}

// color variables
$primary: #F69431;
$secondary: #5D310C;
$lighter-dark: #292c30;


// font variables
$font-regular: "Inter", sans-serif;
$font-accent: 'Crete Round', serif;

// spacing variables
$btn-border-radius: 0;

// text size variables
$text-small: 1rem;

// ALL THE OVERRIDES AND CUSTOM STYLES WRT BOOTSTRAP MUST BE MENTIONED ABOVE THESE IMPORTS
// Import Bootstrap and its variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@100;400;700&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

//***** base styles
body {
  font-family: $font-regular;
  font-size: 1.5rem;
}

a {
    font-weight: 700;
}

ul {
    list-style: none;
}

.section {
    padding: 10vh 0 !important;
    
    &-heading {
        font-size: 3rem;
        color: $primary;
        margin-bottom: 2.5rem;
    }

    &-subheading {
        font-size: 2rem;
        margin: 1rem 0;
    }
}

.card {
    border: none;

    &-body {
        border-radius: 0;
    }
}

//***** utility classes
.btn-custom {
    padding: 1rem 2.5rem;
    margin: 1rem 0;
    transition: all .3s ease-in-out;
    font-family: $font-accent;

    &:hover {
        transform: scale(1.1);
    }
}

.btn-full-width {
    width: 100%;
}

.link {
    padding: .5rem 0 .25rem;
    font-family: $font-accent;
    font-weight: 400;
    text-decoration: none;

    &-primary {
        border-bottom: 2px solid $primary;
    }
}

.text-title {
    font-size: 5rem;
}

.text-accent {
    font-family: $font-accent;
}

.text-color-primary {
    color: $primary;
}


/**************** CUSTOM STYLE SHEET ****************/

//***** header styles
.header {
    height: 90vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(#252525, 0.85),
        rgba(#0e0e0e, 0.85)),
    url("../assets/hero-bg.jpg");
    background-size: cover;
    background-position: top;
}

//***** navbar styles
.navbar a {
    font-family: $font-accent;
}

//***** hero styles
.hero {
    margin-top: 20vh;
    text-align: center;
}

//***** about styles


//***** menu styles
.menu {
    background-color: $lighter-dark;
}